In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import to_timestamp
import pyspark.sql.functions as F
import datetime
import os
import configparser

In [2]:
from pyspark.sql.functions import udf, col
from pyspark.sql.functions import year, month, dayofmonth, hour, weekofyear, date_format

Make sure that your AWS credentials are loaded as env vars

In [3]:
config = configparser.ConfigParser()
config.read('dl.cfg')

os.environ['AWS_ACCESS_KEY_ID']=config['AWS']['AWS_ACCESS_KEY_ID']
os.environ['AWS_SECRET_ACCESS_KEY']=config['AWS']['AWS_SECRET_ACCESS_KEY']

In [20]:
spark = SparkSession \
        .builder \
        .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.0") \
        .getOrCreate()

# Load data from S3

In [36]:
input_data = "s3a://udacity-dend/"
output_data = "s3a://wejdan-udacity-dend/output_data/"

process_song_data

In [45]:
song_data = input_data + 'song_data/*/*/*/*.json'
log_data= input_data + 'log_data/*/*/*.json'
print(log_data)
print(song_data)

s3a://udacity-dend/log_data/*.json
s3a://udacity-dend/song_data/*/*/*/*.json

In [50]:
log_df = spark.read.json('s3a://udacity-dend/log_data/*.json')

In [ ]:
song_df = spark.read.json(song_data)

In [8]:
song_df.printSchema()
song_df.limit(5).toPandas()

root
 |-- artist_id: string (nullable = true)
 |-- artist_latitude: double (nullable = true)
 |-- artist_location: string (nullable = true)
 |-- artist_longitude: double (nullable = true)
 |-- artist_name: string (nullable = true)
 |-- duration: double (nullable = true)
 |-- num_songs: long (nullable = true)
 |-- song_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- year: long (nullable = true)

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,AR4T2IF1187B9ADBB7,63.96027,"<a href=""http://billyidol.net"" onmousedown='Un...",10.22442,Billy Idol,233.22077,1,SOVIYJY12AF72A4B00,The Dead Next Door (Digitally Remastered 99),1983
1,AR4T2IF1187B9ADBB7,63.96027,"<a href=""http://billyidol.net"" onmousedown='Un...",10.22442,Billy Idol,287.92118,1,SOVYXYL12AF72A3373,Rebel Yell (1999 Digital Remaster),1983
2,ARQ846I1187B9A7083,NaN,,NaN,Yvonne S. Moriarty / Walt Fowler / Ladd McInto...,196.04853,1,SOEPTVC12A67ADD0DA,"To Zucchabar [""Gladiator"" - Music from the Mot...",0
3,AR4T2IF1187B9ADBB7,63.96027,"<a href=""http://billyidol.net"" onmousedown='Un...",10.22442,Billy Idol,247.53587,1,SOLQYSZ12AB0181F97,Mony Mony (Live),1987
4,AR3TZ691187FB3DBB1,NaN,,NaN,Russell Watson / Pino Palladino / Robbie McInt...,273.44934,1,SOVPFJK12A6701CB16,Barcelona - (Friends until the end),2000

In [7]:
song_df.createOrReplaceTempView("song_df")

## extract columns to create songs table

In [8]:
songs_table = spark.sql("""
    SELECT DISTINCT 
    row_number() over (ORDER BY year,artist_id)  id,
    song_id, 
    title, 
    artist_id, 
    year, 
    duration
    FROM song_df
""")
#other solution for the id
# song_tabel.withColumn("id",  monotonicallyIncreasingId())
songs_table.toPandas()

,id,song_id,title,artist_id,year,duration
0,1,SOLYIBD12A8C135045,Music is what we love,AR051KA1187B98B2FF,0,261.51138
1,2,SOHKNRJ12A6701D1F8,Drop of Rain,AR10USD1187B99F3F1,0,189.57016
2,3,SOLLHMX12AB01846DC,The Emperor Falls,AR1Y2PT1187FB5B9CE,0,484.62322
3,4,SOILPQQ12AB017E82A,Sohna Nee Sohna Data,AR1ZHYZ1187FB3C717,0,599.24853
4,5,SOBKWDJ12A8C13B2F3,Wild Rose (Back 2 Basics Mix),AR36F9J1187FB406F1,0,230.71302
5,6,SOZCTXZ12AB0182364,Setanta matins,AR5KOSW1187FB35FF4,0,269.58322
6,7,SOBCOSW12A8C13D398,Rumba De Barcelona,AR7SMBG1187B9B9066,0,218.38322
7,8,SOZHPGD12A8C1394FE,Baby Come To Me,AR9AWNF1187B9AB0B4,0,236.93016
8,9,SOLEYHO12AB0188A85,Got My Mojo Workin,ARAGB2O1187FB3A161,0,338.23302
9,10,SOOJPRH12A8C141995,Loaded Like A Gun,ARBGXIG122988F409D,0,173.19138
10,11,SOKEJEJ12A8C13E0D0,The Urgency (LP Version),ARC43071187B990240,0,245.21098
11,12,SOMJBYD12A6D4F8557,Keepin It Real (Skit),ARD0S291187B9B7BF5,0,114.78159
12,13,SOMZWCG12A8C13C480,I Didn't Mean To,ARD7TVE1187B99BFB1,0,218.93179
13,14,SOQLGFP12A58A7800E,OAKtown,ARD7TVE1187B99BFB1,0,259.44771
14,15,SOBAYLL12A8C138AF9,Sono andati? Fingevo di dormire,ARDR4AC1187FB371A1,0,511.16363
15,16,SOOLYAZ12A6701F4A6,Laws Patrolling (Album Version),AREBBGV1187FB523D2,0,173.66159
16,17,SOBBXLX12A58A79DDA,Erica (2005 Digital Remaster),AREDBBQ1187B98AFF5,0,138.63138
17,18,SOPEGZN12AB0181B3D,Get Your Head Stuck On Your Neck,AREDL271187FB40F44,0,45.66159
18,19,SOFCHDR12AB01866EF,Living Hell,AREVWGE1187B9B890A,0,282.43546
19,20,SOQOTLQ12AB01868D0,Clementina Santafè,ARGCY1Y1187B9A4FA5,0,153.33832
20,21,SOPSWQW12A6D4F8781,Made Like This (Live),ARGIWFO1187B9B55B7,0,225.09669
21,22,SOTCKKY12AB018A141,Sonnerie lalaleulé hi houuu,ARGSAFR1269FB35070,0,29.54404
22,23,SOQHXMF12AB0182363,Young Boy Blues,ARGSJW91187B9B1D6B,0,218.77506
23,24,SORAMLE12AB017C8B0,Auguri Cha Cha,ARHHO3O1187B989413,0,191.84281
24,25,SODUJBS12A8C132150,Wessex Loses a Bride,ARI2JSK1187FB496EF,0,111.62077
25,26,SOBEBDG12A58A76D60,Kassie Jones,ARI3BMM1187FB4255E,0,220.78649
26,27,SOUQQEA12A8C134B1B,High Tide,ARIG6O41187B988BDD,0,228.59710
27,28,SOUPIRU12A6D4FA1E1,Der Kleine Dompfaff,ARJIE2Y1187B994AB7,0,152.92036
28,29,SOYMRWW12A6D4FAB14,The Moon And I (Ordinary Day Album Version),ARKFYS91187B98E58F,0,267.70240
29,30,SOXVLOJ12AB0189215,Amor De Cabaret,ARKRRTF1187B9984DA,0,177.47546
...,...,...,...,...,...,...
41,42,SOWTBJW12AC468AC6E,Broken-Down Merry-Go-Round,ARQGYP71187FB44566,0,151.84934
42,43,SOSWKAV12AB018FC91,Midnight Star,ARULZCI1241B9C8611,0,335.51628
43,44,SOVYKGO12AB0187199,Crazy Mixed Up World,ARH4Z031187B9A71F2,1961,156.39465
44,45,SOYTPEP12AB0180E7B,Twist and Shout,ARAJPHH1187FB5566A,1964,164.80608
45,46,SOCIWDW12A8C13D406,Soul Deep,ARMJAGH1187FB546F3,1969,148.03546
46,47,SOGNCJP12A58A80271,Do You Finally Need A Friend,ARB29H41187B98F0EF,1972,342.56934
47,48,SONHOTT12A8C13493C,Something Girls,AR7G5I41187FB4CE6C,1982,233.40363
48,49,SOIAZJW12AB01853F1,Pink World,AR8ZCNI1187B9A069B,1984,269.81832
49,50,SOBLGCN12AB0183212,James (Hold The Ladder Steady),AR47JEX1187B995D81,1985,124.86485
50,51,SOBONFF12A6D4F84D8,Tonight Will Be Alright,ARIK43K1187B9AE54C,1986,307.38240
51,52,SOHUOAP12A8AE488E9,Floating,ARD842G1187B997376,1987,491.12771
52,53,SOGXHEG12AB018653E,It Makes No Difference Now,AR0RCMP1187FB3F427,1992,133.32853
53,54,SOTUKVB12AB0181477,Blessed Assurance,AR7ZKHQ1187B98DD73,1993,270.60200
54,55,SOFFKZS12AB017F194,A Higher Place (Album Version),ARBEBBY1187B9B43DB,1994,236.17261
55,56,SONWXQJ12A8C134D94,The Ballad Of Sleeping Beauty,ARNF6401187FB57032,1994,305.16200
56,57,SOGOSOV12AF72A285E,¿Dónde va Chichi?,ARGUVEV1187B98BA17,1997,313.12934
57,58,SOBZBAZ12A6D4F8742,Spanish Grease,AROUOZZ1187B9ABE51,1997,168.25424
58,59,SOPVXLX12A8C1402D5,Larger Than Life,AR3JMC51187B9AE49D,1999,236.25098
59,60,SOAOIBZ12AB01815BE,I Hold Your Hand In Mine [Live At Royal Albert...,ARPBNLO1187FB3D52F,2000,43.36281
60,61,SODAUVL12A8C13D184,Prognosis,ARWB3G61187FB49404,2000,363.85914
61,62,SONSKXP12A8C13A2C9,Native Soul,AR0IAWL1187B9A96D0,2003,197.19791
62,63,SOGDBUF12A8C140FAA,Intro,AR558FS1187FB45658,2003,75.67628
63,64,SOBBUGU12A8C13E95D,Setting Fire to Sleeping Giants,ARMAC4T1187FB3FA4C,2004,207.77751
64,65,SOXILUQ12A58A7C72A,Jenny Take a Ride,ARP6N5A1187B99D1A3,2004,207.43791
65,66,SORRZGD12A6310DBC3,Harajuku Girls,ARVBRGZ1187FB4675A,2004,290.55955
66,67,SOXLBJT12A8C140925,Caught In A Dream,ARYKCQI1187FB3B18F,2004,290.29832
67,68,SOGVQGJ12AB017F169,Ten Tonne,AR62SOJ1187FB47BB5,2005,337.68444
68,69,SONYPOM12A8C13B2D7,I Think My Wife Is Running Around On Me (Taco ...,ARDNS031187B9924F0,2005,186.48771
69,70,SOFSOCN12A8C143F5D,Face the Ashes,ARXR32B1187FB57099,2007,209.60608
70,71,SOINLJW12A8C13314C,City Slickers,AR8IEZO1187B99055E,2008,149.86404

In [9]:
print((songs_table.count(), len(songs_table.columns)))

(71, 6)

### write songs table to parquet files partitioned by year and artist

In [10]:
#parquet file shoud be the S3 location
songs_table.write.partitionBy("year", "artist_id").parquet('data/output/songs/', mode = "overwrite")

## extract columns to create artists table

In [11]:
artists_table = spark.sql("""
    SELECT DISTINCT 
    artist_id, 
    artist_name as name, 
    artist_location as location, 
    artist_latitude as lattitude, 
    artist_longitude as longitude
    FROM song_df
""")
artists_table =artists_table.withColumn("id",  F.monotonically_increasing_id())

In [12]:
artists_table.toPandas()

,artist_id,name,location,lattitude,longitude,id
0,ARPBNLO1187FB3D52F,Tiny Tim,"New York, NY",40.71455,-74.00712,60129542144
1,ARBEBBY1187B9B43DB,Tom Petty,"Gainesville, FL",NaN,NaN,68719476736
2,AR0IAWL1187B9A96D0,Danilo Perez,Panama,8.41770,-80.11278,120259084288
3,ARMBR4Y1187B9990EB,David Martin,California - SF,37.77916,-122.42005,146028888064
4,ARD0S291187B9B7BF5,Rated R,Ohio,NaN,NaN,146028888065
5,AR0RCMP1187FB3F427,Billie Jo Spears,"Beaumont, TX",30.08615,-94.10158,223338299392
6,ARKRRTF1187B9984DA,Sonora Santanera,,NaN,NaN,231928233984
7,ARHHO3O1187B989413,Bob Azzam,,NaN,NaN,231928233985
8,ARJIE2Y1187B994AB7,Line Renaud,,NaN,NaN,257698037760
9,ARGIWFO1187B9B55B7,Five Bolt Main,,NaN,NaN,283467841536
10,AROUOZZ1187B9ABE51,Willie Bobo,"New York, NY [Spanish Harlem]",40.79195,-73.94512,300647710720
11,ARDR4AC1187FB371A1,Montserrat Caballé;Placido Domingo;Vicente Sar...,,NaN,NaN,317827579904
12,AR47JEX1187B995D81,SUE THOMPSON,"Nevada, MO",37.83721,-94.35868,317827579905
13,ARYKCQI1187FB3B18F,Tesla,,NaN,NaN,326417514496
14,ARL7K851187B99ACD2,Andy Andy,,NaN,NaN,360777252864
15,ARNPAGP1241B9C7FD4,lextrical,,NaN,NaN,412316860416
16,ARXR32B1187FB57099,Gob,,NaN,NaN,472446402560
17,ARQ9BO41187FB5CF1F,John Davis,Pennsylvania,40.99471,-77.60454,489626271744
18,AR1ZHYZ1187FB3C717,Faiz Ali Faiz,,NaN,NaN,549755813888
19,ARMAC4T1187FB3FA4C,The Dillinger Escape Plan,"Morris Plains, NJ",40.82624,-74.47995,592705486848
20,ARBGXIG122988F409D,Steel Rain,California - SF,37.77916,-122.42005,635655159808
21,ARGSJW91187B9B1D6B,JennyAnyKind,North Carolina,35.21962,-80.01955,670014898176
22,ARGCY1Y1187B9A4FA5,Gloriana,"Nashville, TN.",36.16778,-86.77836,712964571136
23,ARNF6401187FB57032,Sophie B. Hawkins,"New York, NY [Manhattan]",40.79086,-73.96644,730144440320
24,AROGWRA122988FEE45,Christos Dantis,,NaN,NaN,730144440321
25,ARI2JSK1187FB496EF,Nick Ingman;Gavyn Wright,"London, England",51.50632,-0.12714,738734374912
26,ARIG6O41187B988BDD,Richard Souther,United States,37.16793,-95.84502,755914244096
27,ARMJAGH1187FB546F3,The Box Tops,"Memphis, TN",35.14968,-90.04892,764504178688
28,ARPFHN61187FB575F6,Lupe Fiasco,"Chicago, IL",41.88415,-87.63241,773094113280
29,AR10USD1187B99F3F1,Tweeterfriendly Music,"Burlington, Ontario, Canada",NaN,NaN,773094113281
...,...,...,...,...,...,...
39,AR3JMC51187B9AE49D,Backstreet Boys,"Orlando, FL",28.53823,-81.37739,1030792151040
40,AR7SMBG1187B9B9066,Los Manolos,,NaN,NaN,1039382085632
41,ARIK43K1187B9AE54C,Lionel Richie,"Beverly Hills, CA",NaN,NaN,1065151889408
42,AR8ZCNI1187B9A069B,Planet P Project,,NaN,NaN,1065151889409
43,AR9AWNF1187B9AB0B4,Kenny G featuring Daryl Hall,"Seattle, Washington USA",NaN,NaN,1082331758592
44,ARQGYP71187FB44566,Jimmy Wakely,"Mineola, AR",34.31109,-94.02978,1082331758593
45,ARH4Z031187B9A71F2,Faye Adams,"Newark, NJ",40.73197,-74.17418,1125281431552
46,ARAJPHH1187FB5566A,The Shangri-Las,"Queens, NY",40.70380,-73.83168,1133871366144
47,AR8IEZO1187B99055E,Marc Shaiman,,NaN,NaN,1151051235328
48,ARD842G1187B997376,Blue Rodeo,"Toronto, Ontario, Canada",43.64856,-79.38533,1202590842880
49,AR7ZKHQ1187B98DD73,Glad,,NaN,NaN,1236950581248
50,AREBBGV1187FB523D2,Mike Jones (Featuring CJ_ Mello & Lil' Bran),"Houston, TX",NaN,NaN,1254130450432
51,ARKFYS91187B98E58F,Jeff And Sheri Easter,,NaN,NaN,1279900254208
52,ARNNKDK1187B98BBD5,Jinx,Zagreb Croatia,45.80726,15.96760,1288490188800
53,ARP6N5A1187B99D1A3,Mitch Ryder,"Hamtramck, MI",NaN,NaN,1357209665536
54,ARWB3G61187FB49404,Steve Morse,"Hamilton, Ohio",NaN,NaN,1357209665537
55,AR1Y2PT1187FB5B9CE,John Wesley,Brandon,27.94017,-82.32547,1374389534720
56,ARAGB2O1187FB3A161,Pucho & His Latin Soul Brothers,,NaN,NaN,1408749273088
57,AREDBBQ1187B98AFF5,Eddie Calvert,,NaN,NaN,1417339207680
58,ARB29H41187B98F0EF,Terry Callier,Chicago,41.88415,-87.63241,1468878815232
59,ARGUVEV1187B98BA17,Sierra Maestra,,NaN,NaN,1554778161152
60,ARLTWXK1187FB5A3F8,King Curtis,"Fort Worth, TX",32.74863,-97.32925,1589137899520
61,ARKULSX1187FB45F84,Trafik,Utah,39.49974,-111.54732,1589137899521
62,ARC43071187B990240,Wayne Watson,"Wisner, LA",NaN,NaN,1649267441664
63,AR558FS1187FB45658,40 Grit,,NaN,NaN,1683627180032
64,AR62SOJ1187FB47BB5,Chase & Status,,NaN,NaN,1692217114624
65,AR36F9J1187FB406F1,Bombay Rockers,Denmark,56.27609,9.51695,1700807049216
66,ARI3BMM1187FB4255E,Alice Stuart,Washington,38.89910,-77.02900,1700807049217
67,AREDL271187FB40F44,Soul Mekanik,,NaN,NaN,1709396983808
68,ARVBRGZ1187FB4675A,Gwen Stefani,,NaN,NaN,1709396983809

write artists table to parquet files

In [13]:
artists_table.write.parquet('data/output/artists/', mode = "overwrite")

process_log_data

In [29]:
# read log data file
log_df = spark.read.json(log_data)

Py4JJavaError: An error occurred while calling o356.json.
: com.amazonaws.services.s3.model.AmazonS3Exception: Status Code: 403, AWS Service: Amazon S3, AWS Request ID: ABF81DDB874DF1B7, AWS Error Code: null, AWS Error Message: Forbidden, S3 Extended Request ID: FGSj9zY9EQZ6XZY4kUsherbu0OHvW3uuYtoVsaXYNcV9fpbVxvSztmXPh3igJCMSDxdqJenwv8o=
	at com.amazonaws.http.AmazonHttpClient.handleErrorResponse(AmazonHttpClient.java:798)
	at com.amazonaws.http.AmazonHttpClient.executeHelper(AmazonHttpClient.java:421)
	at com.amazonaws.http.AmazonHttpClient.execute(AmazonHttpClient.java:232)
	at com.amazonaws.services.s3.AmazonS3Client.invoke(AmazonS3Client.java:3528)
	at com.amazonaws.services.s3.AmazonS3Client.getObjectMetadata(AmazonS3Client.java:976)
	at com.amazonaws.services.s3.AmazonS3Client.getObjectMetadata(AmazonS3Client.java:956)
	at org.apache.hadoop.fs.s3a.S3AFileSystem.getFileStatus(S3AFileSystem.java:892)
	at org.apache.hadoop.fs.s3a.S3AFileSystem.listStatus(S3AFileSystem.java:734)
	at org.apache.hadoop.fs.Globber.listStatus(Globber.java:69)
	at org.apache.hadoop.fs.Globber.glob(Globber.java:217)
	at org.apache.hadoop.fs.FileSystem.globStatus(FileSystem.java:1657)
	at org.apache.spark.deploy.SparkHadoopUtil.globPath(SparkHadoopUtil.scala:245)
	at org.apache.spark.deploy.SparkHadoopUtil.globPathIfNecessary(SparkHadoopUtil.scala:255)
	at org.apache.spark.sql.execution.datasources.DataSource$$anonfun$org$apache$spark$sql$execution$datasources$DataSource$$checkAndGlobPathIfNecessary$1.apply(DataSource.scala:549)
	at org.apache.spark.sql.execution.datasources.DataSource$$anonfun$org$apache$spark$sql$execution$datasources$DataSource$$checkAndGlobPathIfNecessary$1.apply(DataSource.scala:545)
	at scala.collection.TraversableLike$$anonfun$flatMap$1.apply(TraversableLike.scala:241)
	at scala.collection.TraversableLike$$anonfun$flatMap$1.apply(TraversableLike.scala:241)
	at scala.collection.immutable.List.foreach(List.scala:392)
	at scala.collection.TraversableLike$class.flatMap(TraversableLike.scala:241)
	at scala.collection.immutable.List.flatMap(List.scala:355)
	at org.apache.spark.sql.execution.datasources.DataSource.org$apache$spark$sql$execution$datasources$DataSource$$checkAndGlobPathIfNecessary(DataSource.scala:545)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:359)
	at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:223)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:211)
	at org.apache.spark.sql.DataFrameReader.json(DataFrameReader.scala:391)
	at sun.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at sun.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)

In [15]:
log_df.printSchema()
log_df.limit(5).toPandas()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Harmonia,Logged In,Ryan,M,0,Smith,655.77751,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,583,Sehr kosmisch,200,1542241826796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26
1,The Prodigy,Logged In,Ryan,M,1,Smith,260.07465,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,583,The Big Gundown,200,1542242481796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26
2,Train,Logged In,Ryan,M,2,Smith,205.45261,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,583,Marry Me,200,1542242741796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26
3,None,Logged In,Wyatt,M,0,Scott,NaN,free,"Eureka-Arcata-Fortuna, CA",GET,Home,1.540872e+12,563,None,200,1542247071796,Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7....,9
4,None,Logged In,Austin,M,0,Rosales,NaN,free,"New York-Newark-Jersey City, NY-NJ-PA",GET,Home,1.541060e+12,521,None,200,1542252577796,Mozilla/5.0 (Windows NT 6.1; rv:31.0) Gecko/20...,12

In [16]:
#filter by actions for song plays
log_df = log_df.where("page = 'NextSong'")
log_df.limit(5).toPandas()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Harmonia,Logged In,Ryan,M,0,Smith,655.77751,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,583,Sehr kosmisch,200,1542241826796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26
1,The Prodigy,Logged In,Ryan,M,1,Smith,260.07465,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,583,The Big Gundown,200,1542242481796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26
2,Train,Logged In,Ryan,M,2,Smith,205.45261,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,583,Marry Me,200,1542242741796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26
3,Sony Wonder,Logged In,Samuel,M,0,Gonzalez,218.06975,free,"Houston-The Woodlands-Sugar Land, TX",PUT,NextSong,1.540493e+12,597,Blackbird,200,1542253449796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",61
4,Van Halen,Logged In,Tegan,F,2,Levine,289.38404,paid,"Portland-South Portland, ME",PUT,NextSong,1.540794e+12,602,Best Of Both Worlds (Remastered Album Version),200,1542260935796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4...",80

In [17]:
log_df.createOrReplaceTempView("log_df")

extract columns for users table

In [18]:
users_table = spark.sql("""
            SELECT DISTINCT
            userId    as user_id,
            firstName as first_name,
            lastName  as last_name,
            gender    as gender,
            level
            from log_df           
""")
users_table =users_table.withColumn("id",  F.monotonically_increasing_id())

In [19]:
users_table.toPandas()

    user_id  first_name  last_name gender level             id
0        98      Jordyn     Powell      F  free    17179869184
1        34      Evelin      Ayala      F  free    51539607552
2        85     Kinsley      Young      F  paid    68719476736
3        38      Gianna      Jones      F  free    77309411328
4        85     Kinsley      Young      F  free    85899345920
5        63        Ayla    Johnson      F  free   103079215104
6        37      Jordan      Hicks      F  free   103079215105
7         6     Cecilia      Owens      F  free   120259084288
8        15        Lily       Koch      F  paid   154618822656
9        27      Carlos     Carter      M  free   154618822657
10       89     Kynnedi    Sanchez      F  free   206158430208
11       57   Katherine        Gay      F  free   240518168576
12       74      Braden     Parker      M  free   249108103168
13       29  Jacqueline      Lynch      F  paid   249108103169
14       75      Joseph  Gutierrez      M  free   309237645312
15       61      Samuel   Gonzalez      M  free   335007449088
16       88    Mohammad  Rodriguez      M  free   343597383680
17       64      Hannah    Calhoun      F  free   386547056640
18       15        Lily       Koch      F  free   395136991232
19       95        Sara    Johnson      F  paid   395136991233
20       39      Walter       Frye      M  free   412316860416
21       50         Ava   Robinson      F  free   420906795008
22       69    Anabelle    Simpson      F  free   438086664192
23       62      Connar     Moreno      M  free   446676598784
24       52    Theodore      Smith      M  free   463856467968
25       94        Noah     Chavez      M  free   472446402560
26       11   Christian     Porter      F  free   489626271744
27       96      Cierra     Finley      F  free   515396075520
28       49       Chloe     Cuevas      F  paid   523986010112
29        5      Elijah      Davis      M  free   532575944704
..      ...         ...        ...    ...   ...            ...
74       42      Harper    Barrett      M  paid  1279900254208
75       30       Avery    Watkins      F  paid  1331439861760
76       88    Mohammad  Rodriguez      M  paid  1357209665536
77       10      Sylvie       Cruz      F  free  1374389534720
78       25      Jayden     Graves      M  paid  1374389534721
79       16       Rylan     George      M  free  1382979469312
80       90      Andrea     Butler      F  free  1382979469313
81       36     Matthew      Jones      M  free  1382979469314
82       72      Hayden      Brock      F  paid  1382979469315
83       12      Austin    Rosales      M  free  1400159338496
84       56      Cienna    Freeman      F  free  1400159338497
85       86       Aiden       Hess      M  free  1451698946048
86       77   Magdalene     Herman      F  free  1460288880640
87       87      Dustin        Lee      M  free  1477468749824
88       22        Sean     Wilson      F  free  1494648619008
89      100       Adler    Barrera      M  free  1511828488192
90       13         Ava   Robinson      F  free  1511828488193
91       36     Matthew      Jones      M  paid  1520418422784
92       83     Stefany      White      F  free  1529008357376
93       44      Aleena      Kirby      F  paid  1537598291968
94       59        Lily     Cooper      F  free  1546188226560
95       80       Tegan     Levine      F  free  1563368095744
96       91      Jayden       Bell      M  free  1571958030336
97       26        Ryan      Smith      M  free  1606317768704
98       70      Jaleah      Hayes      F  paid  1614907703296
99        9       Wyatt      Scott      M  free  1657857376256
100     101      Jayden        Fox      M  free  1666447310848
101      20       Aiden    Ramirez      M  paid  1666447310849
102       3       Isaac     Valdez      M  free  1666447310850
103      76      Jayden      Duffy      F  free  1683627180032

[104 rows x 6 columns]

write users table to parquet files

In [20]:
users_table.write.parquet('data/output/users', mode = "overwrite")

create timestamp column from original timestamp column

In [21]:
spark.udf.register("date_time", lambda x: str(datetime.datetime.fromtimestamp(x / 1000.0)))

In [22]:
time_table = spark.sql('''
                  SELECT DISTINCT 
                  date_time,
                  date_time AS start_time,
                  hour(date_time) AS hour,
                  dayofmonth(date_time) AS day,
                  weekofyear(date_time) AS week,
                  month(date_time) AS month,
                  year(date_time) AS year,
                  dayofweek(date_time) AS weekday
                  FROM (SELECT date_time(ts) AS date_time FROM log_df) 
                  ORDER BY year, month
          '''
          )
time_table.toPandas()

,date_time,start_time,hour,day,week,month,year,weekday
0,2018-11-15 11:04:44.796000,2018-11-15 11:04:44.796000,11,15,46,11,2018,5
1,2018-11-15 17:16:12.796000,2018-11-15 17:16:12.796000,17,15,46,11,2018,5
2,2018-11-15 19:42:40.796000,2018-11-15 19:42:40.796000,19,15,46,11,2018,5
3,2018-11-21 08:57:22.796000,2018-11-21 08:57:22.796000,8,21,47,11,2018,4
4,2018-11-14 03:46:36.796000,2018-11-14 03:46:36.796000,3,14,46,11,2018,4
5,2018-11-14 09:56:29.796000,2018-11-14 09:56:29.796000,9,14,46,11,2018,4
6,2018-11-14 11:23:20.796000,2018-11-14 11:23:20.796000,11,14,46,11,2018,4
7,2018-11-14 12:18:35.796000,2018-11-14 12:18:35.796000,12,14,46,11,2018,4
8,2018-11-14 23:10:05.796000,2018-11-14 23:10:05.796000,23,14,46,11,2018,4
9,2018-11-28 14:23:48.796000,2018-11-28 14:23:48.796000,14,28,48,11,2018,4
10,2018-11-28 14:46:59.796000,2018-11-28 14:46:59.796000,14,28,48,11,2018,4
11,2018-11-28 19:14:36.796000,2018-11-28 19:14:36.796000,19,28,48,11,2018,4
12,2018-11-30 12:57:05.796000,2018-11-30 12:57:05.796000,12,30,48,11,2018,6
13,2018-11-16 19:24:11.796000,2018-11-16 19:24:11.796000,19,16,46,11,2018,6
14,2018-11-20 08:08:19.796000,2018-11-20 08:08:19.796000,8,20,47,11,2018,3
15,2018-11-20 10:13:06.796000,2018-11-20 10:13:06.796000,10,20,47,11,2018,3
16,2018-11-20 14:55:34.796000,2018-11-20 14:55:34.796000,14,20,47,11,2018,3
17,2018-11-20 17:26:51.796000,2018-11-20 17:26:51.796000,17,20,47,11,2018,3
18,2018-11-20 19:41:38.796000,2018-11-20 19:41:38.796000,19,20,47,11,2018,3
19,2018-11-24 11:19:06.796000,2018-11-24 11:19:06.796000,11,24,47,11,2018,7
20,2018-11-24 12:53:51.796000,2018-11-24 12:53:51.796000,12,24,47,11,2018,7
21,2018-11-29 00:30:53.796000,2018-11-29 00:30:53.796000,0,29,48,11,2018,5
22,2018-11-29 21:16:53.796000,2018-11-29 21:16:53.796000,21,29,48,11,2018,5
23,2018-11-19 04:32:05.796000,2018-11-19 04:32:05.796000,4,19,47,11,2018,2
24,2018-11-27 12:19:30.796000,2018-11-27 12:19:30.796000,12,27,48,11,2018,3
25,2018-11-27 19:02:22.796000,2018-11-27 19:02:22.796000,19,27,48,11,2018,3
26,2018-11-27 19:13:20.796000,2018-11-27 19:13:20.796000,19,27,48,11,2018,3
27,2018-11-09 16:32:19.796000,2018-11-09 16:32:19.796000,16,9,45,11,2018,6
28,2018-11-08 13:11:13.796000,2018-11-08 13:11:13.796000,13,8,45,11,2018,5
29,2018-11-08 18:00:32.796000,2018-11-08 18:00:32.796000,18,8,45,11,2018,5
...,...,...,...,...,...,...,...,...
6783,2018-11-07 14:46:21.796000,2018-11-07 14:46:21.796000,14,7,45,11,2018,4
6784,2018-11-06 05:11:17.796000,2018-11-06 05:11:17.796000,5,6,45,11,2018,3
6785,2018-11-02 03:05:57.796000,2018-11-02 03:05:57.796000,3,2,44,11,2018,6
6786,2018-11-02 11:17:10.796000,2018-11-02 11:17:10.796000,11,2,44,11,2018,6
6787,2018-11-18 19:47:51.796000,2018-11-18 19:47:51.796000,19,18,46,11,2018,1
6788,2018-11-15 00:41:21.796000,2018-11-15 00:41:21.796000,0,15,46,11,2018,5
6789,2018-11-15 20:36:22.796000,2018-11-15 20:36:22.796000,20,15,46,11,2018,5
6790,2018-11-15 22:49:33.796000,2018-11-15 22:49:33.796000,22,15,46,11,2018,5
6791,2018-11-21 00:58:41.796000,2018-11-21 00:58:41.796000,0,21,47,11,2018,4
6792,2018-11-21 09:25:42.796000,2018-11-21 09:25:42.796000,9,21,47,11,2018,4
6793,2018-11-14 08:14:44.796000,2018-11-14 08:14:44.796000,8,14,46,11,2018,4
6794,2018-11-30 02:10:21.796000,2018-11-30 02:10:21.796000,2,30,48,11,2018,6
6795,2018-11-30 04:57:03.796000,2018-11-30 04:57:03.796000,4,30,48,11,2018,6
6796,2018-11-30 11:16:10.796000,2018-11-30 11:16:10.796000,11,30,48,11,2018,6
6797,2018-11-30 16:35:57.796000,2018-11-30 16:35:57.796000,16,30,48,11,2018,6
6798,2018-11-20 10:04:17.796000,2018-11-20 10:04:17.796000,10,20,47,11,2018,3
6799,2018-11-20 15:59:06.796000,2018-11-20 15:59:06.796000,15,20,47,11,2018,3
6800,2018-11-24 12:57:02.796000,2018-11-24 12:57:02.796000,12,24,47,11,2018,7
6801,2018-11-19 07:51:09.796000,2018-11-19 07:51:09.796000,7,19,47,11,2018,2
6802,2018-11-27 17:22:48.796000,2018-11-27 17:22:48.796000,17,27,48,11,2018,3
6803,2018-11-23 12:23:40.796000,2018-11-23 12:23:40.796000,12,23,47,11,2018,6
6804,2018-11-23 17:42:35.796000,2018-11-23 17:42:35.796000,17,23,47,11,2018,6
6805,2018-11-09 20:34:53.796000,2018-11-09 20:34:53.796000,20,9,45,11,2018,6
6806,2018-11-07 16:13:54.796000,2018-11-07 16:13:54.796000,16,7,45,11,2018,4
6807,2018-11-07 17:27:12.796000,2018-11-07 17:27:12.796000,17,7,45,11,2018,4
6808,2018-11-02 16:49:44.796000,2018-11-02 16:49:44.796000,16,2,44,11,2018,6
6809,2018-11-18 15:42:31.796000,2018-11-18 15:42:31.796000,15,18,46,11,2018,1
6810,2018-11-17 14:52:13.796000,2018-11-17 14:52:13.796000,14,17,46,11,2018,7
6811,2018-11-03 18:42:29.796000,2018-11-03 18:42:29.796000,18,3,44,11,2018,7
6812,2018-11-22 00:49:18.796000,2018-11-22 00:49:18.796000,0,22,47,11,2018,5

In [23]:
time_table.write.partitionBy("year", "month").parquet('data/output/time/', mode = "overwrite")

read in song data to use for songplays table

In [24]:
song_df = spark.read.json("/home/workspace/data/song-data/*/*/*/*.json")
song_df.createOrReplaceTempView("song_df")

In [25]:
songplays_table = spark.sql("""
        SELECT DISTINCT
        date_time(ts)        as start_time,
        year(date_time(ts))  as year,
        month(date_time(ts)) as month,
        l.userId             as user_id,
        l.level              as level,
        s.song_id            as song_id,
        s.artist_id          as artist_id,
        l.sessionId          as session_id,
        l.location           as location,
        l.userAgent          as user_agent
        FROM log_df   AS l
        JOIN song_df  AS s
        ON (l.artist = s.artist_name
        AND l.song   = s.title)  
""")

songplays_table.toPandas()

,start_time,year,month,user_id,level,song_id,artist_id,session_id,location,user_agent
0,2018-11-21 21:56:47.796000,2018,11,15,paid,SOZCTXZ12AB0182364,AR5KOSW1187FB35FF4,818,"Chicago-Naperville-Elgin, IL-IN-WI","""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5..."

In [26]:
songplays_table.write.partitionBy("year", "month").parquet('data/output/songplays/', mode = "overwrite")